@media (max-width: 1280px) {
    main::after {
        padding: 0 40px;
        background: linear-gradient(120deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    }
}

@media(max-width: 768px) {
    .active.information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .information .description {
        width: 60%;
        text-align: center;
    }
}

@media(max-width: 480px) {
    body {
        padding: 40px;
    }

    .information .description {
        width: 100%;
    }

    .content {
        min-height: 70vh;
        gap: 50px;
    }
}